language: python
python:
  - "3.6"
  - "3.7"
  
# command to install dependencies
install:
  - pip install -q -U pip wheel
  - pip install -q -r requirements.txt
  
# command to run tests
script:
  - pytest
