numpy>=1.15.0
torchvision==0.2.1
torch==1.0.0
scikit-image==0.14.0
scikit-learn==0.20.0
jupyter==1.0.0
flake8
pytest-cov
autopep8
ipython
joblib
pillow
SimpleITK==1.1.0
pylint
tqdm
visdom==0.1.8.5
pyyaml
trixi==0.1.1.1
batchgenerators@git+https://github.com/MIC-DKFZ/batchgenerators.git@32372057d2122fee47209044645741b8a6b736a7#egg=batchgenerators-0
apex@git+https://www.github.com/nvidia/apex.git#egg=apex
nested_lookup

