numpy>=1.15.0,<1.16.0
torchvision>=0.2.1
torch>=1.0.0
scikit-image==0.14.0
scikit-learn>=0.20.0
jupyter>=1.0.0
flake8
pytest-cov
autopep8
ipython
joblib
pillow>=5.4.1
SimpleITK>=1.1.0
pylint
tqdm
visdom>=0.1.8.5
pyyaml
trixi
batchgenerators@git+https://github.com/MIC-DKFZ/batchgenerators.git@91feb74747bfcfb9514d509fb13b854a37847b4d#egg=batchgenerators-0
psutil
nested_lookup
